--
-- PostgreSQL database dump
--

\restrict 1cbbRKgE0tBwmOauqGovsf3vR0TXsgwHaBJGEm7PbIHfEMXPTAjd5MCzrWq3vPX

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO chatbot_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO chatbot_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO chatbot_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_category; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    description text NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint
);


ALTER TABLE public.chatbot_category OWNER TO chatbot_user;

--
-- Name: chatbot_category_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_chatlog; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_chatlog (
    id bigint NOT NULL,
    user_message text NOT NULL,
    bot_response text NOT NULL,
    predicted_intent character varying(150),
    confidence double precision,
    "timestamp" timestamp with time zone NOT NULL,
    feedback character varying(20)
);


ALTER TABLE public.chatbot_chatlog OWNER TO chatbot_user;

--
-- Name: chatbot_chatlog_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_chatlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_chatlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_dataticket; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_dataticket (
    id bigint NOT NULL,
    ticket_number character varying(40) NOT NULL,
    new_intent_name character varying(150) NOT NULL,
    new_intent_description text NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    status character varying(20) NOT NULL,
    priority character varying(20) NOT NULL,
    notes text NOT NULL,
    admin_notes text NOT NULL,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    intent_id bigint,
    reviewed_by_id bigint,
    submitted_by_id bigint NOT NULL,
    training_data_id bigint,
    office_id bigint NOT NULL
);


ALTER TABLE public.chatbot_dataticket OWNER TO chatbot_user;

--
-- Name: chatbot_dataticket_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_dataticket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_dataticket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_feedback; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_feedback (
    id bigint NOT NULL,
    feedback_type character varying(20) NOT NULL,
    rating integer,
    message text NOT NULL,
    ip_address inet,
    created_at timestamp with time zone NOT NULL,
    is_resolved boolean NOT NULL,
    admin_notes text NOT NULL,
    user_id bigint
);


ALTER TABLE public.chatbot_feedback OWNER TO chatbot_user;

--
-- Name: chatbot_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_feedback ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_feedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_intent; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_intent (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    category_id bigint
);


ALTER TABLE public.chatbot_intent OWNER TO chatbot_user;

--
-- Name: chatbot_intent_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_intent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_intent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_intentresponse; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_intentresponse (
    id bigint NOT NULL,
    answer text NOT NULL,
    is_default boolean NOT NULL,
    is_active boolean NOT NULL,
    priority integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    intent_id bigint NOT NULL
);


ALTER TABLE public.chatbot_intentresponse OWNER TO chatbot_user;

--
-- Name: chatbot_intentresponse_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_intentresponse ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_intentresponse_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_location; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_location (
    id bigint NOT NULL,
    room_number character varying(200) NOT NULL,
    room_name character varying(255) NOT NULL,
    building character varying(200) NOT NULL,
    floor character varying(50) NOT NULL,
    description text NOT NULL,
    aliases text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.chatbot_location OWNER TO chatbot_user;

--
-- Name: chatbot_location_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_location ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_locationkeyword; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_locationkeyword (
    id bigint NOT NULL,
    keyword character varying(200) NOT NULL,
    priority integer NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.chatbot_locationkeyword OWNER TO chatbot_user;

--
-- Name: chatbot_locationkeyword_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_locationkeyword ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_locationkeyword_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_locationticket; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_locationticket (
    id bigint NOT NULL,
    ticket_number character varying(40) NOT NULL,
    room_number character varying(200) NOT NULL,
    room_name character varying(255) NOT NULL,
    building character varying(200) NOT NULL,
    floor character varying(50) NOT NULL,
    room_description text NOT NULL,
    keywords text NOT NULL,
    status character varying(20) NOT NULL,
    priority character varying(20) NOT NULL,
    notes text NOT NULL,
    admin_notes text NOT NULL,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    location_id bigint,
    office_id bigint NOT NULL,
    reviewed_by_id bigint,
    submitted_by_id bigint NOT NULL
);


ALTER TABLE public.chatbot_locationticket OWNER TO chatbot_user;

--
-- Name: chatbot_locationticket_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_locationticket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_locationticket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_locationticketcomment; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_locationticketcomment (
    id bigint NOT NULL,
    comment text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    ticket_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.chatbot_locationticketcomment OWNER TO chatbot_user;

--
-- Name: chatbot_locationticketcomment_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_locationticketcomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_locationticketcomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_modelversion; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_modelversion (
    id bigint NOT NULL,
    version character varying(100) NOT NULL,
    model_path character varying(255) NOT NULL,
    accuracy double precision,
    is_active boolean NOT NULL,
    trained_at timestamp with time zone NOT NULL,
    training_samples integer NOT NULL
);


ALTER TABLE public.chatbot_modelversion OWNER TO chatbot_user;

--
-- Name: chatbot_modelversion_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_modelversion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_modelversion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_office; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_office (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    description text NOT NULL,
    contact_email character varying(254) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.chatbot_office OWNER TO chatbot_user;

--
-- Name: chatbot_office_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_office ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_office_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_officeuser; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_officeuser (
    id bigint NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    office_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.chatbot_officeuser OWNER TO chatbot_user;

--
-- Name: chatbot_officeuser_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_officeuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_officeuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_ticketcomment; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_ticketcomment (
    id bigint NOT NULL,
    comment text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    ticket_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.chatbot_ticketcomment OWNER TO chatbot_user;

--
-- Name: chatbot_ticketcomment_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_ticketcomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_ticketcomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_trainingdata; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_trainingdata (
    id bigint NOT NULL,
    answer text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    intent_id bigint NOT NULL,
    is_reviewed boolean NOT NULL,
    notes text NOT NULL,
    office_id bigint,
    questions_data jsonb NOT NULL,
    reviewed_at timestamp with time zone,
    reviewed_by_id bigint,
    submitted_at timestamp with time zone NOT NULL,
    submitted_by_id bigint
);


ALTER TABLE public.chatbot_trainingdata OWNER TO chatbot_user;

--
-- Name: chatbot_trainingdata_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_trainingdata ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_trainingdata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_trainingupdateticket; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_trainingupdateticket (
    id bigint NOT NULL,
    ticket_number character varying(40) NOT NULL,
    new_questions text NOT NULL,
    new_answer text NOT NULL,
    reason text NOT NULL,
    status character varying(20) NOT NULL,
    admin_notes text NOT NULL,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    office_id bigint NOT NULL,
    reviewed_by_id bigint,
    submitted_by_id bigint NOT NULL,
    training_data_id bigint NOT NULL
);


ALTER TABLE public.chatbot_trainingupdateticket OWNER TO chatbot_user;

--
-- Name: chatbot_trainingupdateticket_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_trainingupdateticket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_trainingupdateticket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_user; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.chatbot_user OWNER TO chatbot_user;

--
-- Name: chatbot_user_groups; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.chatbot_user_groups OWNER TO chatbot_user;

--
-- Name: chatbot_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_user_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chatbot_user_user_permissions; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.chatbot_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.chatbot_user_user_permissions OWNER TO chatbot_user;

--
-- Name: chatbot_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.chatbot_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chatbot_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO chatbot_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO chatbot_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO chatbot_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: chatbot_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: chatbot_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO chatbot_user;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_category; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_chatlog; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_dataticket; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_feedback; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_feedback (id, feedback_type, rating, message, ip_address, created_at, is_resolved, admin_notes, user_id) FROM stdin;
1	rating	5	Good bot	127.0.0.1	2026-02-07 19:41:14.76+08	f		11
2	suggestion	\N	Improve UI	127.0.0.1	2026-02-07 19:41:22.326+08	f		11
3	report	\N	It doesn't answer my question	127.0.0.1	2026-02-07 19:41:34.431+08	f		11
4	rating	5	Good	192.168.1.13	2026-02-15 19:02:15.213+08	f		\N
5	rating	5	Good chatbot	127.0.0.1	2026-02-19 09:36:22.108+08	f		11
\.


--
-- Data for Name: chatbot_intent; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_intentresponse; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_intentresponse (id, answer, is_default, is_active, priority, created_at, updated_at, intent_id) FROM stdin;
\.


--
-- Data for Name: chatbot_location; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_locationkeyword; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_locationticket; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_locationticket (id, ticket_number, room_number, room_name, building, floor, room_description, keywords, status, priority, notes, admin_notes, reviewed_at, created_at, updated_at, location_id, office_id, reviewed_by_id, submitted_by_id) FROM stdin;
2	LOC-20260219-001	402		RBB1	Fourth Floor	Room 402	402, room 402	pending	medium			\N	2026-02-19 11:24:39.786+08	2026-02-19 11:24:39.786+08	\N	4	\N	15
1	LOC-20260208-001	Room 501		RBB1	5th Floor	Room 501	501	approved	medium			2026-02-09 08:51:45.055+08	2026-02-08 22:58:53.274+08	2026-02-09 08:55:38.106+08	\N	2	11	13
\.


--
-- Data for Name: chatbot_locationticketcomment; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_locationticketcomment (id, comment, created_at, ticket_id, user_id) FROM stdin;
1	Ticket approved and implemented. Created location with 2 keywords. 	2026-02-09 08:51:45.073+08	1	11
\.


--
-- Data for Name: chatbot_modelversion; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_office; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_office (id, name, description, contact_email, is_active, created_at) FROM stdin;
1	Registrar Office	Student registration	registrar@campus.edu	t	2026-01-31 15:09:30.514+08
2	Library	Campus library services	library@campus.edu	t	2026-01-31 15:09:31.028+08
3	Financial Aid	Student financial services	finaid@campus.edu	t	2026-01-31 15:09:31.509+08
4	Accounting	Accounting Office	accountingoffice@gmail.com	t	2026-02-19 11:21:28.13+08
\.


--
-- Data for Name: chatbot_officeuser; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_officeuser (id, role, created_at, office_id, user_id) FROM stdin;
1	staff	2026-01-31 15:09:31.013+08	1	12
2	staff	2026-01-31 15:09:31.489+08	2	13
3	staff	2026-01-31 15:09:31.902+08	3	14
5	staff	2026-02-19 11:21:28.144+08	4	15
\.


--
-- Data for Name: chatbot_ticketcomment; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_ticketcomment (id, comment, created_at, ticket_id, user_id) FROM stdin;
8	Ticket approved. Added 5 training sample(s). 	2026-02-17 20:58:16.138+08	7	11
10	Ticket approved. Added 1 training sample(s). 	2026-02-19 09:31:53.628+08	8	11
11	Ticket rejected. Reason: Wrong 	2026-02-19 11:23:19.48+08	9	11
12	Ticket approved. Added 5 training sample(s). 	2026-02-19 11:45:58.83+08	10	11
\.


--
-- Data for Name: chatbot_trainingdata; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_trainingupdateticket; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_trainingupdateticket (id, ticket_number, new_questions, new_answer, reason, status, admin_notes, reviewed_at, created_at, office_id, reviewed_by_id, submitted_by_id, training_data_id) FROM stdin;
1	UPD-20260218-001	When is enrollment?	January 25, 2027	New Semester	approved		2026-02-19 00:46:14.081+08	2026-02-19 00:20:21.61+08	2	11	13	11
\.


--
-- Data for Name: chatbot_user; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: chatbot_user_groups; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: chatbot_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.chatbot_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	chatbot	user
7	chatbot	chatlog
8	chatbot	intent
9	chatbot	modelversion
10	chatbot	trainingdata
11	chatbot	office
12	chatbot	dataticket
13	chatbot	officeuser
14	chatbot	ticketcomment
15	chatbot	intentresponse
16	chatbot	location
17	chatbot	locationkeyword
18	chatbot	feedback
19	chatbot	locationticket
20	chatbot	locationticketcomment
21	chatbot	trainingupdateticket
22	chatbot	category
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: chatbot_user
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 88, true);


--
-- Name: chatbot_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_category_id_seq', 19, true);


--
-- Name: chatbot_chatlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_chatlog_id_seq', 520, true);


--
-- Name: chatbot_dataticket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_dataticket_id_seq', 10, true);


--
-- Name: chatbot_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_feedback_id_seq', 5, true);


--
-- Name: chatbot_intent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_intent_id_seq', 58, true);


--
-- Name: chatbot_intentresponse_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_intentresponse_id_seq', 1, false);


--
-- Name: chatbot_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_location_id_seq', 96, true);


--
-- Name: chatbot_locationkeyword_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_locationkeyword_id_seq', 297, true);


--
-- Name: chatbot_locationticket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_locationticket_id_seq', 2, true);


--
-- Name: chatbot_locationticketcomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_locationticketcomment_id_seq', 1, true);


--
-- Name: chatbot_modelversion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_modelversion_id_seq', 37, true);


--
-- Name: chatbot_office_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_office_id_seq', 4, true);


--
-- Name: chatbot_officeuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_officeuser_id_seq', 5, true);


--
-- Name: chatbot_ticketcomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_ticketcomment_id_seq', 12, true);


--
-- Name: chatbot_trainingdata_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_trainingdata_id_seq', 38, true);


--
-- Name: chatbot_trainingupdateticket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_trainingupdateticket_id_seq', 1, true);


--
-- Name: chatbot_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_user_groups_id_seq', 1, false);


--
-- Name: chatbot_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_user_id_seq', 15, true);


--
-- Name: chatbot_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.chatbot_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 329, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatbot_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 35, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: chatbot_category chatbot_category_name_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_category
    ADD CONSTRAINT chatbot_category_name_key UNIQUE (name);


--
-- Name: chatbot_category chatbot_category_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_category
    ADD CONSTRAINT chatbot_category_pkey PRIMARY KEY (id);


--
-- Name: chatbot_category chatbot_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_category
    ADD CONSTRAINT chatbot_category_slug_key UNIQUE (slug);


--
-- Name: chatbot_chatlog chatbot_chatlog_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_chatlog
    ADD CONSTRAINT chatbot_chatlog_pkey PRIMARY KEY (id);


--
-- Name: chatbot_dataticket chatbot_dataticket_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_dataticket
    ADD CONSTRAINT chatbot_dataticket_pkey PRIMARY KEY (id);


--
-- Name: chatbot_dataticket chatbot_dataticket_ticket_number_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_dataticket
    ADD CONSTRAINT chatbot_dataticket_ticket_number_key UNIQUE (ticket_number);


--
-- Name: chatbot_feedback chatbot_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_feedback
    ADD CONSTRAINT chatbot_feedback_pkey PRIMARY KEY (id);


--
-- Name: chatbot_intent chatbot_intent_name_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_intent
    ADD CONSTRAINT chatbot_intent_name_key UNIQUE (name);


--
-- Name: chatbot_intent chatbot_intent_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_intent
    ADD CONSTRAINT chatbot_intent_pkey PRIMARY KEY (id);


--
-- Name: chatbot_intentresponse chatbot_intentresponse_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_intentresponse
    ADD CONSTRAINT chatbot_intentresponse_pkey PRIMARY KEY (id);


--
-- Name: chatbot_location chatbot_location_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_location
    ADD CONSTRAINT chatbot_location_pkey PRIMARY KEY (id);


--
-- Name: chatbot_location chatbot_location_room_number_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_location
    ADD CONSTRAINT chatbot_location_room_number_key UNIQUE (room_number);


--
-- Name: chatbot_locationkeyword chatbot_locationkeyword_location_id_keyword_ad4b7528_uniq; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationkeyword
    ADD CONSTRAINT chatbot_locationkeyword_location_id_keyword_ad4b7528_uniq UNIQUE (location_id, keyword);


--
-- Name: chatbot_locationkeyword chatbot_locationkeyword_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationkeyword
    ADD CONSTRAINT chatbot_locationkeyword_pkey PRIMARY KEY (id);


--
-- Name: chatbot_locationticket chatbot_locationticket_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticket
    ADD CONSTRAINT chatbot_locationticket_pkey PRIMARY KEY (id);


--
-- Name: chatbot_locationticket chatbot_locationticket_ticket_number_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticket
    ADD CONSTRAINT chatbot_locationticket_ticket_number_key UNIQUE (ticket_number);


--
-- Name: chatbot_locationticketcomment chatbot_locationticketcomment_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticketcomment
    ADD CONSTRAINT chatbot_locationticketcomment_pkey PRIMARY KEY (id);


--
-- Name: chatbot_modelversion chatbot_modelversion_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_modelversion
    ADD CONSTRAINT chatbot_modelversion_pkey PRIMARY KEY (id);


--
-- Name: chatbot_office chatbot_office_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_office
    ADD CONSTRAINT chatbot_office_pkey PRIMARY KEY (id);


--
-- Name: chatbot_officeuser chatbot_officeuser_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_officeuser
    ADD CONSTRAINT chatbot_officeuser_pkey PRIMARY KEY (id);


--
-- Name: chatbot_officeuser chatbot_officeuser_user_id_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_officeuser
    ADD CONSTRAINT chatbot_officeuser_user_id_key UNIQUE (user_id);


--
-- Name: chatbot_ticketcomment chatbot_ticketcomment_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_ticketcomment
    ADD CONSTRAINT chatbot_ticketcomment_pkey PRIMARY KEY (id);


--
-- Name: chatbot_trainingdata chatbot_trainingdata_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingdata
    ADD CONSTRAINT chatbot_trainingdata_pkey PRIMARY KEY (id);


--
-- Name: chatbot_trainingupdateticket chatbot_trainingupdateticket_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingupdateticket
    ADD CONSTRAINT chatbot_trainingupdateticket_pkey PRIMARY KEY (id);


--
-- Name: chatbot_trainingupdateticket chatbot_trainingupdateticket_ticket_number_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingupdateticket
    ADD CONSTRAINT chatbot_trainingupdateticket_ticket_number_key UNIQUE (ticket_number);


--
-- Name: chatbot_user_groups chatbot_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_groups
    ADD CONSTRAINT chatbot_user_groups_pkey PRIMARY KEY (id);


--
-- Name: chatbot_user_groups chatbot_user_groups_user_id_group_id_e17484e1_uniq; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_groups
    ADD CONSTRAINT chatbot_user_groups_user_id_group_id_e17484e1_uniq UNIQUE (user_id, group_id);


--
-- Name: chatbot_user chatbot_user_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user
    ADD CONSTRAINT chatbot_user_pkey PRIMARY KEY (id);


--
-- Name: chatbot_user_user_permissions chatbot_user_user_permis_user_id_permission_id_aa0d61b4_uniq; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_user_permissions
    ADD CONSTRAINT chatbot_user_user_permis_user_id_permission_id_aa0d61b4_uniq UNIQUE (user_id, permission_id);


--
-- Name: chatbot_user_user_permissions chatbot_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_user_permissions
    ADD CONSTRAINT chatbot_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: chatbot_user chatbot_user_username_key; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user
    ADD CONSTRAINT chatbot_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: chatbot_category_created_by_id_f23d87a9; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_category_created_by_id_f23d87a9 ON public.chatbot_category USING btree (created_by_id);


--
-- Name: chatbot_category_name_7f70e5bc_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_category_name_7f70e5bc_like ON public.chatbot_category USING btree (name varchar_pattern_ops);


--
-- Name: chatbot_category_slug_ad741e21_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_category_slug_ad741e21_like ON public.chatbot_category USING btree (slug varchar_pattern_ops);


--
-- Name: chatbot_dataticket_intent_id_5d93995e; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_dataticket_intent_id_5d93995e ON public.chatbot_dataticket USING btree (intent_id);


--
-- Name: chatbot_dataticket_office_id_a0bce7fa; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_dataticket_office_id_a0bce7fa ON public.chatbot_dataticket USING btree (office_id);


--
-- Name: chatbot_dataticket_reviewed_by_id_f2499b70; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_dataticket_reviewed_by_id_f2499b70 ON public.chatbot_dataticket USING btree (reviewed_by_id);


--
-- Name: chatbot_dataticket_submitted_by_id_1d9ec884; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_dataticket_submitted_by_id_1d9ec884 ON public.chatbot_dataticket USING btree (submitted_by_id);


--
-- Name: chatbot_dataticket_ticket_number_d952326c_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_dataticket_ticket_number_d952326c_like ON public.chatbot_dataticket USING btree (ticket_number varchar_pattern_ops);


--
-- Name: chatbot_dataticket_training_data_id_15232efe; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_dataticket_training_data_id_15232efe ON public.chatbot_dataticket USING btree (training_data_id);


--
-- Name: chatbot_feedback_user_id_c19c4b9d; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_feedback_user_id_c19c4b9d ON public.chatbot_feedback USING btree (user_id);


--
-- Name: chatbot_intent_category_id_5a5fa631; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_intent_category_id_5a5fa631 ON public.chatbot_intent USING btree (category_id);


--
-- Name: chatbot_intent_name_a3f5799f_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_intent_name_a3f5799f_like ON public.chatbot_intent USING btree (name varchar_pattern_ops);


--
-- Name: chatbot_intentresponse_intent_id_c6aa752f; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_intentresponse_intent_id_c6aa752f ON public.chatbot_intentresponse USING btree (intent_id);


--
-- Name: chatbot_location_room_number_82e9bb81_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_location_room_number_82e9bb81_like ON public.chatbot_location USING btree (room_number varchar_pattern_ops);


--
-- Name: chatbot_locationkeyword_location_id_71aeadd7; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationkeyword_location_id_71aeadd7 ON public.chatbot_locationkeyword USING btree (location_id);


--
-- Name: chatbot_locationticket_location_id_ea6a14cc; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationticket_location_id_ea6a14cc ON public.chatbot_locationticket USING btree (location_id);


--
-- Name: chatbot_locationticket_office_id_c2f2840c; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationticket_office_id_c2f2840c ON public.chatbot_locationticket USING btree (office_id);


--
-- Name: chatbot_locationticket_reviewed_by_id_388fb4d2; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationticket_reviewed_by_id_388fb4d2 ON public.chatbot_locationticket USING btree (reviewed_by_id);


--
-- Name: chatbot_locationticket_submitted_by_id_145b902d; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationticket_submitted_by_id_145b902d ON public.chatbot_locationticket USING btree (submitted_by_id);


--
-- Name: chatbot_locationticket_ticket_number_0f6fd7d1_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationticket_ticket_number_0f6fd7d1_like ON public.chatbot_locationticket USING btree (ticket_number varchar_pattern_ops);


--
-- Name: chatbot_locationticketcomment_ticket_id_1159d397; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationticketcomment_ticket_id_1159d397 ON public.chatbot_locationticketcomment USING btree (ticket_id);


--
-- Name: chatbot_locationticketcomment_user_id_9d519164; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_locationticketcomment_user_id_9d519164 ON public.chatbot_locationticketcomment USING btree (user_id);


--
-- Name: chatbot_officeuser_office_id_8929d289; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_officeuser_office_id_8929d289 ON public.chatbot_officeuser USING btree (office_id);


--
-- Name: chatbot_ticketcomment_ticket_id_cdb4ff93; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_ticketcomment_ticket_id_cdb4ff93 ON public.chatbot_ticketcomment USING btree (ticket_id);


--
-- Name: chatbot_ticketcomment_user_id_9ae42cc5; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_ticketcomment_user_id_9ae42cc5 ON public.chatbot_ticketcomment USING btree (user_id);


--
-- Name: chatbot_trainingdata_intent_id_2b96a623; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingdata_intent_id_2b96a623 ON public.chatbot_trainingdata USING btree (intent_id);


--
-- Name: chatbot_trainingdata_office_id_28581cd0; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingdata_office_id_28581cd0 ON public.chatbot_trainingdata USING btree (office_id);


--
-- Name: chatbot_trainingdata_reviewed_by_id_ffb64a4d; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingdata_reviewed_by_id_ffb64a4d ON public.chatbot_trainingdata USING btree (reviewed_by_id);


--
-- Name: chatbot_trainingdata_submitted_by_id_33df8321; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingdata_submitted_by_id_33df8321 ON public.chatbot_trainingdata USING btree (submitted_by_id);


--
-- Name: chatbot_trainingupdateticket_office_id_dd9f9357; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingupdateticket_office_id_dd9f9357 ON public.chatbot_trainingupdateticket USING btree (office_id);


--
-- Name: chatbot_trainingupdateticket_reviewed_by_id_0abaf878; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingupdateticket_reviewed_by_id_0abaf878 ON public.chatbot_trainingupdateticket USING btree (reviewed_by_id);


--
-- Name: chatbot_trainingupdateticket_submitted_by_id_386be8a7; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingupdateticket_submitted_by_id_386be8a7 ON public.chatbot_trainingupdateticket USING btree (submitted_by_id);


--
-- Name: chatbot_trainingupdateticket_ticket_number_4a18a5e5_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingupdateticket_ticket_number_4a18a5e5_like ON public.chatbot_trainingupdateticket USING btree (ticket_number varchar_pattern_ops);


--
-- Name: chatbot_trainingupdateticket_training_data_id_9750f8f0; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_trainingupdateticket_training_data_id_9750f8f0 ON public.chatbot_trainingupdateticket USING btree (training_data_id);


--
-- Name: chatbot_user_groups_group_id_34a67d8e; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_user_groups_group_id_34a67d8e ON public.chatbot_user_groups USING btree (group_id);


--
-- Name: chatbot_user_groups_user_id_f657f498; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_user_groups_user_id_f657f498 ON public.chatbot_user_groups USING btree (user_id);


--
-- Name: chatbot_user_user_permissions_permission_id_75567bd4; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_user_user_permissions_permission_id_75567bd4 ON public.chatbot_user_user_permissions USING btree (permission_id);


--
-- Name: chatbot_user_user_permissions_user_id_f16a9066; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_user_user_permissions_user_id_f16a9066 ON public.chatbot_user_user_permissions USING btree (user_id);


--
-- Name: chatbot_user_username_bee24820_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX chatbot_user_username_bee24820_like ON public.chatbot_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: chatbot_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_category chatbot_category_created_by_id_f23d87a9_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_category
    ADD CONSTRAINT chatbot_category_created_by_id_f23d87a9_fk_chatbot_user_id FOREIGN KEY (created_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_dataticket chatbot_dataticket_intent_id_5d93995e_fk_chatbot_intent_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_dataticket
    ADD CONSTRAINT chatbot_dataticket_intent_id_5d93995e_fk_chatbot_intent_id FOREIGN KEY (intent_id) REFERENCES public.chatbot_intent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_dataticket chatbot_dataticket_office_id_a0bce7fa_fk_chatbot_office_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_dataticket
    ADD CONSTRAINT chatbot_dataticket_office_id_a0bce7fa_fk_chatbot_office_id FOREIGN KEY (office_id) REFERENCES public.chatbot_office(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_dataticket chatbot_dataticket_reviewed_by_id_f2499b70_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_dataticket
    ADD CONSTRAINT chatbot_dataticket_reviewed_by_id_f2499b70_fk_chatbot_user_id FOREIGN KEY (reviewed_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_dataticket chatbot_dataticket_submitted_by_id_1d9ec884_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_dataticket
    ADD CONSTRAINT chatbot_dataticket_submitted_by_id_1d9ec884_fk_chatbot_user_id FOREIGN KEY (submitted_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_dataticket chatbot_dataticket_training_data_id_15232efe_fk_chatbot_t; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_dataticket
    ADD CONSTRAINT chatbot_dataticket_training_data_id_15232efe_fk_chatbot_t FOREIGN KEY (training_data_id) REFERENCES public.chatbot_trainingdata(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_feedback chatbot_feedback_user_id_c19c4b9d_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_feedback
    ADD CONSTRAINT chatbot_feedback_user_id_c19c4b9d_fk_chatbot_user_id FOREIGN KEY (user_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_intent chatbot_intent_category_id_5a5fa631_fk_chatbot_category_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_intent
    ADD CONSTRAINT chatbot_intent_category_id_5a5fa631_fk_chatbot_category_id FOREIGN KEY (category_id) REFERENCES public.chatbot_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_intentresponse chatbot_intentresponse_intent_id_c6aa752f_fk_chatbot_intent_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_intentresponse
    ADD CONSTRAINT chatbot_intentresponse_intent_id_c6aa752f_fk_chatbot_intent_id FOREIGN KEY (intent_id) REFERENCES public.chatbot_intent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_locationkeyword chatbot_locationkeyw_location_id_71aeadd7_fk_chatbot_l; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationkeyword
    ADD CONSTRAINT chatbot_locationkeyw_location_id_71aeadd7_fk_chatbot_l FOREIGN KEY (location_id) REFERENCES public.chatbot_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_locationticket chatbot_locationtick_location_id_ea6a14cc_fk_chatbot_l; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticket
    ADD CONSTRAINT chatbot_locationtick_location_id_ea6a14cc_fk_chatbot_l FOREIGN KEY (location_id) REFERENCES public.chatbot_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_locationticket chatbot_locationtick_reviewed_by_id_388fb4d2_fk_chatbot_u; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticket
    ADD CONSTRAINT chatbot_locationtick_reviewed_by_id_388fb4d2_fk_chatbot_u FOREIGN KEY (reviewed_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_locationticket chatbot_locationtick_submitted_by_id_145b902d_fk_chatbot_u; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticket
    ADD CONSTRAINT chatbot_locationtick_submitted_by_id_145b902d_fk_chatbot_u FOREIGN KEY (submitted_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_locationticketcomment chatbot_locationtick_ticket_id_1159d397_fk_chatbot_l; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticketcomment
    ADD CONSTRAINT chatbot_locationtick_ticket_id_1159d397_fk_chatbot_l FOREIGN KEY (ticket_id) REFERENCES public.chatbot_locationticket(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_locationticketcomment chatbot_locationtick_user_id_9d519164_fk_chatbot_u; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticketcomment
    ADD CONSTRAINT chatbot_locationtick_user_id_9d519164_fk_chatbot_u FOREIGN KEY (user_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_locationticket chatbot_locationticket_office_id_c2f2840c_fk_chatbot_office_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_locationticket
    ADD CONSTRAINT chatbot_locationticket_office_id_c2f2840c_fk_chatbot_office_id FOREIGN KEY (office_id) REFERENCES public.chatbot_office(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_officeuser chatbot_officeuser_office_id_8929d289_fk_chatbot_office_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_officeuser
    ADD CONSTRAINT chatbot_officeuser_office_id_8929d289_fk_chatbot_office_id FOREIGN KEY (office_id) REFERENCES public.chatbot_office(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_officeuser chatbot_officeuser_user_id_2d94bdc7_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_officeuser
    ADD CONSTRAINT chatbot_officeuser_user_id_2d94bdc7_fk_chatbot_user_id FOREIGN KEY (user_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_ticketcomment chatbot_ticketcommen_ticket_id_cdb4ff93_fk_chatbot_d; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_ticketcomment
    ADD CONSTRAINT chatbot_ticketcommen_ticket_id_cdb4ff93_fk_chatbot_d FOREIGN KEY (ticket_id) REFERENCES public.chatbot_dataticket(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_ticketcomment chatbot_ticketcomment_user_id_9ae42cc5_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_ticketcomment
    ADD CONSTRAINT chatbot_ticketcomment_user_id_9ae42cc5_fk_chatbot_user_id FOREIGN KEY (user_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingdata chatbot_trainingdata_intent_id_2b96a623_fk_chatbot_intent_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingdata
    ADD CONSTRAINT chatbot_trainingdata_intent_id_2b96a623_fk_chatbot_intent_id FOREIGN KEY (intent_id) REFERENCES public.chatbot_intent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingdata chatbot_trainingdata_office_id_28581cd0_fk_chatbot_office_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingdata
    ADD CONSTRAINT chatbot_trainingdata_office_id_28581cd0_fk_chatbot_office_id FOREIGN KEY (office_id) REFERENCES public.chatbot_office(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingdata chatbot_trainingdata_reviewed_by_id_ffb64a4d_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingdata
    ADD CONSTRAINT chatbot_trainingdata_reviewed_by_id_ffb64a4d_fk_chatbot_user_id FOREIGN KEY (reviewed_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingdata chatbot_trainingdata_submitted_by_id_33df8321_fk_chatbot_u; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingdata
    ADD CONSTRAINT chatbot_trainingdata_submitted_by_id_33df8321_fk_chatbot_u FOREIGN KEY (submitted_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingupdateticket chatbot_trainingupda_office_id_dd9f9357_fk_chatbot_o; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingupdateticket
    ADD CONSTRAINT chatbot_trainingupda_office_id_dd9f9357_fk_chatbot_o FOREIGN KEY (office_id) REFERENCES public.chatbot_office(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingupdateticket chatbot_trainingupda_reviewed_by_id_0abaf878_fk_chatbot_u; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingupdateticket
    ADD CONSTRAINT chatbot_trainingupda_reviewed_by_id_0abaf878_fk_chatbot_u FOREIGN KEY (reviewed_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingupdateticket chatbot_trainingupda_submitted_by_id_386be8a7_fk_chatbot_u; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingupdateticket
    ADD CONSTRAINT chatbot_trainingupda_submitted_by_id_386be8a7_fk_chatbot_u FOREIGN KEY (submitted_by_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_trainingupdateticket chatbot_trainingupda_training_data_id_9750f8f0_fk_chatbot_t; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_trainingupdateticket
    ADD CONSTRAINT chatbot_trainingupda_training_data_id_9750f8f0_fk_chatbot_t FOREIGN KEY (training_data_id) REFERENCES public.chatbot_trainingdata(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_user_groups chatbot_user_groups_group_id_34a67d8e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_groups
    ADD CONSTRAINT chatbot_user_groups_group_id_34a67d8e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_user_groups chatbot_user_groups_user_id_f657f498_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_groups
    ADD CONSTRAINT chatbot_user_groups_user_id_f657f498_fk_chatbot_user_id FOREIGN KEY (user_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_user_user_permissions chatbot_user_user_pe_permission_id_75567bd4_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_user_permissions
    ADD CONSTRAINT chatbot_user_user_pe_permission_id_75567bd4_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chatbot_user_user_permissions chatbot_user_user_pe_user_id_f16a9066_fk_chatbot_u; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.chatbot_user_user_permissions
    ADD CONSTRAINT chatbot_user_user_pe_user_id_f16a9066_fk_chatbot_u FOREIGN KEY (user_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_chatbot_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chatbot_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_chatbot_user_id FOREIGN KEY (user_id) REFERENCES public.chatbot_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 1cbbRKgE0tBwmOauqGovsf3vR0TXsgwHaBJGEm7PbIHfEMXPTAjd5MCzrWq3vPX

