{% extends "admin_dashboard.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>{{ training_data.intent.name }} - Training Data</h5>
    </div>
    <div class="card-body">
        <h6>Questions ({{ training_data.questions_count }}):</h6>
        <ol>
            {% for question in questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ol>
        
        <hr>
        
        <h6>Answer:</h6>
        <p>{{ training_data.answer }}</p>
        
        <hr>
        
        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock %}